main {
  padding: 1px;
  background-color: lightgray;
}
  
header .nav-link {
  color: lightgray;
  font-weight: bold;
}
  
header .nav-link.active {
  color: lightgreen;
}

.paper {
  min-height: 85vh;
}

.card-deck {
  padding: 20px;
  background-color: lightgray;
}

.card {
  display: inline-block;
  padding: 20px;
  width: 12rem;
}

.card-image,
.card-img {
  padding: 20px;
  min-width: 80px;
  max-width: 200px;
}

.product-image {
  padding: 10px;
  min-width: 100px;
  max-width: 200px;
}
  
.card-image,
.card-img,
.product-image {
  padding: 20px;
  min-width: 80px;
  max-width: 200px;
}

.product-image > img {
  width: 100%;
}

.card-price {
  font-weight: bold;
}

.product-description {
  margin: 0 auto;
  padding: 20px 20px;
}

.button-section {
  padding: 20px 0;
  border-top: 1px solid gray;
}

footer {
  padding-top: 20px;
  height: 60px;
  color: white;
  font-weight: bold;
}